body{
    background-color: black;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-items: center;

}

.btn-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: greenyellow;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

.btn-fijo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: darkred;
    background-color: peachpuff;
    border: outset;
    border-radius: 9rem;
    width: 7rem;
    height: 3.5rem;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: greenyellow;
    border: solid 1px gray;
    border-radius: 20px;
    padding: 10px;
}

.nombre{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;

}

.imagen{
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 80%;
    height: 70%;
}

.card:hover{
    transform: scale(0.9);
    cursor: pointer;
    transition: all linear 0.2s;
    background-color: blanchedalmond;  

}


.btn-fijo:hover{
    transform: scale(0.9);
    border: outset;
    border-radius: 10rem;
}

@media(min-width:200px) and (max-width:479px) {
    .container{
        display: flex;
        flex-direction: column;
    }
}